<div id="header_menu">
	<ul>
		<li class="first">
			<%= link_to 'Home', main_index_path %>
		</li>
		<li>
			<%= link_to t('.add_guest'), new_guest_path %>
		</li>
		<li>
			<%= link_to t('.guests'), guests_path %>
		</li>
		<li>
			<%= link_to t('.examinations'), examinations_path %>
		</li>
		<li>
			<%= link_to 'Add examination', new_examination_path %>
		</li>
		<% if @user.admin %>
		<li>
			<a href="#">Admin</a>
		</li>
		<% end %>
	</ul>

	<div id="nav_search">
		<%= form_tag find_guest_path do %>
		<%= text_field_tag :search_field, params[:search_field], :placeholder => 'name' %>
		<%= submit_tag 'Search' %>
		<% end %>
	</div>
</div>