<%= form_tag do %>
<div class="form">
	<h4 class="ui-corner-top"><%= t('.please_login') %></h4>
	<div class="content">
		<div class="field">
			<%= text_field_tag :username, params[:username] %>
			<label for="username" ><%= t('.username') %></label>
		</div>
		<div class="field">
			<%= password_field_tag :password, params[:password] %>
			<label for="password"><%= t('.password') %></label>
		</div>
		<div class="actions">
			<%= submit_tag t('.login'), :class => 'submit' %>
		</div>
		<%= link_to 'Forgot password?', forgot_password_path %>
	</div>
</div>
<% end %>

