<%= form_tag do %>
  <fieldset>
    <h1>Please Login</h1>
    <p>
      <%= text_field_tag :username, params[:username] %>
      <label for="username" >Name:</label>
    </p>
	<p>
      <%= password_field_tag :password, params[:password] %>
      <label for="password" >Password:</label>
    </p>
    <p>
      <%= submit_tag "Login", :class => 'submit' %>
    </p>
  </fieldset>
<% end %>
<% if flash[:alert] %>
  <p id="notice" ><%= flash[:alert] %></p>
<% end %>
