<%= form_for(@guest) do |f| %>

<div id="tabbed_box_1" class="tabbed_box">

	<div class="tabbed_area">
		<%= f.error_messages %>
		<ul class="tabs">
			<li>
				<a href="" id="tab1" class="tab active">Guest</a>
			</li>
			<li>
				<a href="" id="tab2" class="tab">Stat</a>
			</li>
		</ul>
		<div id="content_1" class="content">
			<div class="field">
				<%= f.text_field :name %>
				<%= f.label t('guests.name') %>
			</div>
			<div class="field">
				<%= f.text_field :birth %>
				<%= f.label t('guests.birth'), :class => 'datepicker' %>
			</div>
			<div class="field">
				<%= f.text_field :mother %>
				<%= f.label t('guests.mother') %>
			</div>
			<div class="field">
				<%= f.text_field :address %>
				<%= f.label t('guests.address') %>
			</div>
			<div class="field">
				<%= f.text_field :city %>
				<%= f.label t('guests.city') %>
			</div>
			<div class="field">
				<%= f.text_field :postal_code %>
				<%= f.label t('guests.postal_code') %>
			</div>
			<div class="field">
				<%= f.text_field :phone %>
				<%= f.label t('guests.phone') %>
			</div>
			<div class="field">
				<%= f.text_field :email %>
				<%= f.label t('guests.email') %>
			</div>
		</div>
		<div id="content_2" class="content">
			<div class="field">
				<%= f.text_field :allergies %>
				<%= f.label t('guests.allergies') %>
			</div>
			<div class="field">
				<%= f.text_field :diseases %>
				<%= f.label t('guests.diseases') %>
			</div>
			<div class="field">
				<%= f.text_field :medicines %>
				<%= f.label t('guests.medicines') %>
			</div>
			<div class="field">
				<%= f.text_field :vitamins %>
				<%= f.label t('guests.vitamins') %>
			</div>
			<div class="field">
				<%= f.check_box :hormon_treatment %>
				<%= f.label t('guests.hormon_treatment') %>
			</div>
			<div class="field">
				<%= f.check_box :smoking %>
				<%= f.label t('guests.smoking') %>
			</div>
			<div class="field">
				<%= f.text_field :litres_of_liquid_per_day %>
				<%= f.label t('guests.litres_of_liquid_per_day') %>
			</div>
			<div class="field">
				<%= f.check_box :sun_protector %>
				<%= f.label t('guests.sun_protector') %>
			</div>
			<div class="field">
				<%= f.text_field :main_problem %>
				<%= f.label t('guests.main_problem') %>
			</div>
			<div class="field">
				<%= f.text_field :problem_appeared %>
				<%= f.label t('guests.problem_appeared') %>
			</div>
			<div class="field">
				<%= f.text_field :possible_reason_of_problem %>
				<%= f.label t('guests.possible_reason_of_problem') %>
			</div>
			<div class="field">
				<%= f.check_box :visited_dermatologist, :class => 'checkbox' %>
				<%= f.label t('guests.visited_dermatologist') %>
			</div>

		</div>
	</div>
</div>
<div class="actions">
	<%= f.submit :class => 'submit' %>
</div>
<% end %>