<%= form_tag do %>
<fieldset>
	<h1>Edit guest</h1>
	<%= hidden_field_tag :id, params[:id], :value => @guest.id %>
	<div>
		<%= text_field_tag :name, params[:name], :value => @guest.name %>
		<label for="name" >Name:</label>
	</div>
	<div>
		<%= text_field_tag :birth, params[:birth], :value => @guest.birth %>
		<label for="birth" >Birth:</label>
	</div>
	<div>
		<%= text_field_tag :mother, params[:mother], :value => @guest.mother %>
		<label for="mother" >Mother:</label>
	</div>
	<div>
		<%= text_field_tag :address, params[:address], :value => @guest.address %>
		<label for="address" >Address:</label>
	</div>
	<div>
		<%= text_field_tag :city, params[:city], :value => @guest.city %>
		<label for="city" >City:</label>
	</div>
	<div>
		<%= text_field_tag :postal_code, params[:postal_code], :value => @guest.postal_code %>
		<label for="postal_code" >Postal code:</label>
	</div>
	<div>
		<%= text_field_tag :phone, params[:phone], :value => @guest.phone %>
		<label for="phone" >Phone:</label>
	</div>
	<div>
		<%= text_field_tag :email, params[:email], :value => @guest.email %>
		<label for="email" >E-mail:</label>
	</div>

	<div>
		<%= submit_tag "Edit", :class => 'submit' %>
	</div>
</fieldset>
<% end %>
<%= link_to 'Delete guest', delete_guest_path(:id => @guest.id), :method => 'delete' %>