<%= form_tag do %>
  <fieldset>
    <h1>Guests</h1>
    <div>
      <label for="search_field" >Search:</label>
      <%= text_field_tag :search_field, params[:search_field] %>
    </div>
    <div>
      <%= submit_tag "Search" %>
    </div>
  </fieldset>
<% end %>

<% @guests.each do |guest| %>
  <p><%= link_to guest.name, guest_path(guest.id) %><%= guest.mother %> <%= guest.birth %>
  </p>
<% end %>