<%= render 'guest_finder/search_form' %>
<div class="widget">
	<h4 class=" ui-corner-top"><%= t('.guests') %></h4>
	<div class="content">
		<table id="guests" width="100%">
			<thead>
				<th><%= sortable "name", t('.name') %></th>
				<th>Nr. examinations</th>
				<th><%= sortable "mother", t('.mother') %></th>
				<th><%= sortable "birth", t('.birth') %></th>
				<th><%= sortable "city", t('.city') %></th>
				<th></th>
				<th></th>
			</thead>

			<% @guests.each do |guest| %>
			<tr>

				<%
				unless (params[:mode]) %>
				<td><%= link_to guest.name, guest_path(:id => guest.id) %></td>
				<%	else %>
				<td><%= link_to guest.name, new_examination_path(:guest_id => guest.id) %></td>
				<% end %>
				<td><%= guest.examinations.count %></td>
				<td><%= guest.mother %></td>
				<td><%= guest.birth %></td>
				<td><%= guest.city %></td>
				<td><%= link_to 'Edit', edit_guest_path(:id => guest.id), :class => 'ui-icon ui-icon-pencil' %></td>
				<td><%= link_to 'Delete guest', guest_path(:id => guest.id), :method => 'delete', :confirm => t('.are_you_sure'), :class => 'ui-icon ui-icon-trash' %></td>
			</tr>

			<% end %>
		</table>
	</div>
	<%= will_paginate @guests %>
</div>
