<%= render 'guest_finder/search_form' %>
<div class="widget">
	<h4 class=" ui-corner-top"><%= t('.guests') %></h4>
	<div class="content">
		<table id="guests" width="100%">
			<thead>
				<th><%= sortable "name", t('.guests.name') %></th>
				<th>Nr. examinations</th>
				<th><%= sortable "mother", t('.mother') %></th>
				<th><%= sortable "birth", t('.birth') %></th>
				<th><%= sortable "city", t('.city') %></th>
				<th></th>
				<th></th>
			</thead>

			<%= render :partial => 'guest', :collection => @guests %>
		</table>
	</div>
	<%= will_paginate @guests %>
</div>
