<%= form_tag do %>
  <fieldset>
    <h1>Guests</h1>
    <div>
      <label for="search_field" >Search:</label>
      <%= text_field_tag :search_field, params[:search_field] %>
      <%= submit_tag "Search", :class => 'submit' %>
    </div>
  </fieldset>
<% end %>
<table id="guests">
	<thead>
		<th>Name</th>
		<th>Mother's name</th>
		<td>Birth</th>
		<th>City</th>
		<th></th>
		<th></th>
	</thead>

<% @guests.each do |guest| %>
<tr>
	<td><%= link_to guest.name, guest_path(guest.id) %></td>
	<td><%= guest.mother %></td>
	<td><%= guest.birth %></td>
	<td><%= guest.city %></td>
	<td><%= link_to 'Edit', edit_guest_path(:id => guest.id) %></td>
	<td><%= link_to 'Delete guest', delete_guest_path(:id => guest.id), :method => 'delete' %></td>
</tr>
  
 
<% end %>
<table>
