<%= form_tag do %>
  <fieldset>
    <h1>Add new guest</h1>
    <p>
      <%= text_field_tag :name, params[:name] %>
      <label for="name" >Name</label>
    </p>
	<p>
      <%= text_field_tag :birth, params[:birth] %>
      <label for="birth" >Birth</label>
    </p>
    <p>
      <%= text_field_tag :mother, params[:mother] %>
      <label for="mother" >Mother</label>
    </p>
     <p>
      <%= text_field_tag :address, params[:address] %>
      <label for="address" >Address</label>
    </p>
    <p>
      <%= text_field_tag :city, params[:city] %>
      <label for="city" >City</label>
    </p>
    <p>
      <%= text_field_tag :postal_code, params[:postal_code] %>
      <label for="postal_code" >Postal code</label>
    </p>
    <p>
      <%= text_field_tag :phone, params[:phone] %>
      <label for="phone" >Phone</label>
    </p>
    <p>
      <%= text_field_tag :email, params[:email] %>
      <label for="email" >E-mail</label>
    </p>
    <p>
      <%= submit_tag "Add guest", :class => 'submit' %>
    </p>
  </fieldset>
<% end %>