<div class="widget ui-corner-top">
	<h4 class="ui-corner-top"><%= @guest.name %></h4>
	<div class="content">

		<table width="100%">
			<tr>
				<td class="bold"><%= t('.name') %></td><td><%= @guest.name %></td><td class="bold"><%= t('.birth') %></td><td><%= @guest.birth %></td>
			</tr>
			<tr>
				<td class="bold"><%= t('.mother') %></td><td><%= @guest.mother %></td><td class="bold"><%= t('.address') %></td><td><%= @guest.address %></td>
			</tr>
			<tr>
				<td class="bold"><%= t('.city') %></td><td><%= @guest.city %></td><td class="bold"><%= t('.postal_code') %></td><td><%= @guest.postal_code %></td>
			</tr>
			<tr>
				<td class="bold"><%= t('.phone') %></td><td><%= @guest.phone %></td><td class="bold"><%= t('.email') %></td><td><%= @guest.email %></td>
			</tr>
			<tr>
				<td class="bold"><%= t('.statistics') %></td><td>
					<% unless @guest.statistic %>
						<%= link_to 'Statistics', new_statistic_path(:guest_id => @guest.id)%>
					<% else %>
						<%= link_to 'Statistics', edit_statistic_path(:id => @guest.statistic.id, :guest_id => @guest.id)%>
					<% end %>
					</td><td class="bold">VIP</td><td>
				<div class="<%= if @guest.vip
            'ui-state-highlight noborder'
          end
%>">
					<%= link_to 'vip', mark_vip_path(:guest_id => @guest.id), :remote => true, :id => 'vip', :class => 'ui-icon ui-icon-star' %>
				</div></td>
			</tr>
		</table>
		<div class="button_row">
			<%= link_to 'Edit', edit_guest_path(:id => @guest.id), :class => 'button' %> <%= link_to 'Add examination', new_examination_path(:guest_id => @guest.id), :class => 'button' %>
		</div>
	</div>
</div>
<div class="widget">
	<h4 class="ui-corner-top">Examinations</h4>
	<div class="content">
		<table width="100%">
			<thead>
				<th><%= t('.date') %></th><th><%= t('.anamnezis') %></th><th><%= t('.status') %></th><th><%= t('.treatment') %></th><th><%= t('.charge') %></th><th></th><th></th>
			</thead>
			<% @guest.examinations.each do |examination| %>
			<tr>
				<td><%= link_to examination.updated_at, examination_path(:id => examination.id) %></td>
				<td><%= truncate(examination.anamnezis, :length => 20) %></td>
				<td><%= truncate(examination.status, :length => 20) %></td>
				<td><%= truncate(examination.treatment, :length => 20) %></td>
				<td><%= examination.charge %></td>
				<td><%= link_to 'Edit', edit_examination_path(:id => examination.id), :class => 'ui-icon ui-icon-pencil' %></td>
				<td><%= link_to 'Delete', examination_path(:id => examination.id), :method => 'delete', :confirm => t('.are_you_sure'), :class => 'ui-icon ui-icon-trash' %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>

<% @commentable = @guest %>
<% @commentable_type = 'Guest' %>
<%= render 'comments/comment' %>

