<div class="widget ui-corner-top">
	<h4 class="ui-corner-top"><%= @guest.name %></h4>
	<div class="content">

		<table width="100%">
			<tr>
				<td class="bold"><%= t('.name') %></td><td><%= @guest.name %></td><td class="bold"><%= t('.birth') %></td><td><%= @guest.birth %></td>
			</tr>
			<tr>
				<td class="bold"><%= t('.mother') %></td><td><%= @guest.mother %></td><td class="bold"><%= t('.address') %></td><td><%= @guest.address %></td>
			</tr>
			<tr>
				<td class="bold"><%= t('.city') %></td><td><%= @guest.city %></td><td class="bold"><%= t('.postal_code') %></td><td><%= @guest.postal_code %></td>
			</tr>
			<tr>
				<td class="bold"><%= t('.phone') %></td><td><%= @guest.phone %></td><td class="bold"><%= t('.email') %></td><td><%= @guest.email %></td>
			</tr>
			<tr>
				<td class="bold"><%= t('.statistics') %></td><td> <%= statistic_link(@guest) %></td><td class="bold">VIP</td><td>
				<div class="<%= vip_class %>">
					<%= link_to 'vip', mark_vip_path(:guest_id => @guest.id), :remote => true, :id => 'vip', :class => 'ui-icon ui-icon-star' %>
				</div></td>
			</tr>
		</table>
		<div class="button_row">
			<%= link_to 'Edit', edit_guest_path(:id => @guest.id), :class => 'button' %> <%= link_to 'Add examination', new_examination_path(:guest_id => @guest.id), :class => 'button' %>
		</div>
	</div>
</div>

<div class="widget">
	<h4 class="ui-corner-top">Examinations</h4>
	<div class="content">
		<table width="100%">
			<thead>
				<th><%= t('.date') %></th>
				<th><%= t('.anamnezis') %></th>
				<th><%= t('.status') %></th>
				<th><%= t('.treatment') %></th>
				<th><%= t('.charge') %></th>
				<th></th>
				<th></th>
			</thead>
			<%= render :partial => 'examinations/examination', :collection => @guest.examinations %>
		</table>
	</div>
</div>

<% @commentable = @guest %>
<% @commentable_type = 'Guest' %>
<%= render 'comments/comments' %>

