<h1><%= @guest.name %></h1>
<div>
	<span for="name" ><%= t('.name') %></span>
	<span><%= @guest.name %></span>
</div>
<div>
	<span for="birth" ><%= t('.birth') %></span>
	<span><%= @guest.birth %></span>
</div>
<div>
	<span for="mother"><%= t('.mother') %></span>
	<span><%= @guest.mother %></span>
</div>
<div>
	<span for="address" ><%= t('.address') %></span>
	<span><%= @guest.address %></span>
</div>
<div>
	<span for="city" ><%= t('.city') %></span>
	<span><%= @guest.city %></span>
</div>
<div>
	<span for="postal_code" ><%= t('.postal_code') %></span>
	<span><%= @guest.postal_code %></span>
</div>
<div>
	<span for="phone" ><%= t('.phone') %></span>
	<span><%= @guest.phone %></span>
</div>
<div>
	<span for="email" ><%= t('.email') %></span>
	<span><%= @guest.email %></span>
</div>
<div>
	<%= link_to 'Edit', edit_guest_path(:id => @guest.id), :class => 'ui-icon ui-icon-pencil' %> <%= link_to 'Add examination', new_examination_path(:guest_id => @guest.id), :class => 'ui-icon ui-icon-plus' %>
</div>
<hr />
<table>
	<thead>
		<th><%= t('.date') %></th><th><%= t('.anamnezis') %></th><th><%= t('.status') %></th><th><%= t('.treatment') %></th><th><%= t('.charge') %></th>
	</thead>
	<% @guest.examinations.each do |examination| %>
	<tr>
		<td><%= link_to examination.updated_at, examination_path(:id => examination.id) %></td>
		<td><%= examination.anamnezis %></td>
		<td><%= examination.status %></td>
		<td><%= examination.treatment %></td>
		<td><%= examination.charge %></td>
	</tr>
	<% end %>
</table>

