<h1><%= @guest.name %></h1>
<div>
	<span for="name" >Name:</span>
	<span><%= @guest.name %></span>
</div>
<div>
	<span for="birth" >Birth:</span>
	<span><%= @guest.birth %></span>
</div>
<div>
	<span for="mother" >Mother:</span>
	<span><%= @guest.mother %></span>
</div>
<div>
	<span for="address" >Address:</span>
	<span><%= @guest.address %></span>
</div>
<div>
	<span for="city" >City:</span>
	<span><%= @guest.city %></span>
</div>
<div>
	<span for="postal_code" >Postal code:</span>
	<span><%= @guest.postal_code %></span>
</div>
<div>
	<span for="phone" >Phone:</span>
	<span><%= @guest.phone %></span>
</div>
<div>
	<span for="email" >E-mail:</span>
	<span><%= @guest.email %></span>
</div>
<div>
	<%= link_to 'Edit', edit_guest_path(:id => @guest.id), :class => 'ui-icon ui-icon-pencil' %> <%= link_to 'Add examination', newexamination_path(:guest_id => @guest.id), :class => 'ui-icon ui-icon-plus' %>
</div>
<hr />
<table>
	<thead>
		<th>Date</th><th>Anamnezis</th><th>Status</th><th>Treatment</th><th>Charge</th>
	</thead>
	<% @guest.examinations.each do |examination| %>
	<tr>
		<td><%= link_to examination.updated_at, examination_path(:id => examination.id) %></td>
		<td><%= examination.anamnezis %></td>
		<td><%= examination.status %></td>
		<td><%= examination.treatment %></td>
		<td><%= examination.charge %></td>
	</tr>
	<% end %>
</table>

