<% @commentable.comments.each do |comment| %>
<div class="comment">
	<div class="comment_title ui-corner-top">
		<h4><%= @commentable.user.username %> <%= comment.created_at %></h4>
		<span class="header_icons"><%= link_to 'Delete comment', comments_path(:id => comment.id, :commentable_type => comment.commentable_type, :commentable_id => comment.commentable_id), :method => 'delete', :class => 'ui-icon ui-icon-trash' %> </span>
	</div>
	<div class="content">
		<div>
			<%= comment.content %>
		</div>
	</div>
</div>
<% end %>

<%= form_for(@comment) do |f| %>
<div class="widget">
	<h4 class="ui-corner-top">Comment</h4>
	<div class="content">
		<%= f.hidden_field :commentable_id, :value => @commentable.id %>
		<%= f.hidden_field :commentable_type, :value => @commentable_type %>
		<div class="field">
			<%= f.text_area :content %>
		</div>
		<div class="actions">
			<%= f.submit :class => 'submit' %>
		</div>
	</div>
</div>
<% end %>