<%= form_for @user do |f| %>
<fieldset>
	<div>
		<%= f.text_field :username %>
		<%= f.label :username, t('users.username') %>
	</div>
	<div>
		<%= f.password_field :password %>
		<%= f.label :password, t('users.password') %>
	</div>
	<div>
		<%= f.password_field :password_confirmation %>
		<%= f.label :password_confirmation, t('users.password_confirm') %>
	</div>
	<div>
		<%= f.text_field :email %>
		<%= f.label :email, t('users.email') %>
	</div>
	<div>
		<%= f.select :language, User::LANGUAGES, :prompt => t('users.select_language')
		%>
		<%= f.label :language, t('users.language') %>
	</div>
	<div>
		<%= f.submit :class => 'submit' %>
	</div>
</fieldset>
<% end %>