<%= form_for @user do |f| %>
<fieldset>
	<h3>Register new user</h3>
	<div>
		<%= f.text_field :username %>
		<%= f.label :username %>
	</div>
	<div>
		<%= f.password_field :password %>
		<%= f.label :password, t('.password') %>
	</div>
	<div>
		<%= f.password_field :password_confirmation %>
		<%= f.label :password_confirmation, t('.password_confirm') %>
	</div>
	<div>
		<%= f.text_field :email %>
		<%= f.label :email, t('.email') %>
	</div>
	<div>
		<%= f.select :language, User::LANGUAGES, :prompt => t('.select_language')
		%>
		<%= f.label :language, t('.language') %>
	</div>
	<div>
		<%= f.submit :value => t('.register_user'), :class => 'submit' %>
	</div>
</fieldset>
<% end %>