<% render 'search_form' %>

<div class="widget ui-corner-top">
	<div class="content ui-corner-top">
		<table width="100%">
			<thead>
				<tr>
					<th><%= t('.datum') %></th>
					<th><%= t('.anamnezis') %></th>
					<th><%= t('.status') %></th>
					<th><%= t('.treatment') %></th>
					<th><%= t('.charge') %></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<%= render :partial => 'examinations/examination', :collection => @examinations %>
		</table>
	</div>
</div>
