<%= form_tag search_exam_path do %>
<div class="form ui-corner-top">
	<div class="content ui-corner-top">
		<h1><%= t('.search') %></h1>
		<div class="field">
			<%= text_field_tag :from_date, params[:from_date], :class => 'datepicker' %>
			<label for="from_date" ><%= t('.from_date') %></label>
		</div>
		<div class="field">
			<%= text_field_tag :to_date, params[:to_date], :class => 'datepicker' %>
			<label for="to_date" ><%= t('.to_date') %></label>
		</div>
		<div class="actions">
			<%= submit_tag 'Search', :class => 'submit' %>
		</div>
	</div>
</div>
<% end %>

<div class="widget ui-corner-top">
	<div class="content ui-corner-top">
		<table width="100%">
			<thead>
				<tr>
					<th><%= t('.datum') %></th>
					<th><%= t('.anamnezis') %></th>
					<th><%= t('.status') %></th>
					<th><%= t('.treatment') %></th>
					<th><%= t('.charge') %></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<% @examinations.each do |examination| %>
			<tr>
				<td><%= link_to examination.updated_at, examination_path(:id => examination.id) %></td>
				<td><%= examination.anamnezis %></td>
				<td><%= examination.status %></td>
				<td><%= examination.treatment %></td>
				<td><%= examination.charge %></td>
				<td><%= link_to 'Edit', edit_examination_path(:id => examination.id), :class => 'ui-icon ui-icon-pencil' %></td>
				<td><%= link_to 'Delete', examination_path(:id => examination.id), :method => 'delete', :confirm => t('.are_you_sure'), :class => 'ui-icon ui-icon-trash' %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>
