<% unless (params[:guest_id])
  @readonly = true
else
  @readonly = false
end
%>
<%= form_for(@examination) do |f| %>
<div class="form ui-corner-top">
	<%= f.hidden_field :guest_id, :value => @examination.guest_id %>
	<div class="content">
		<div class="field">
			<%= f.text_field :anamnezis, :readonly => @enabled %>
			<%= f.label t('examinations.anamnezis') %>
		</div>
		<div class="field">
			<%= f.text_field :status %>
			<%= f.label t('examinations.status') %>
		</div>
		<div class="field">
			<%= f.text_area :treatment %>
			<%= f.label t('examinations.treatment') %>
		</div>
		<div class="field">
			<%= f.text_field :charge %>
			<%= f.label t('examinations.charge') %>
		</div>

	</div>
	<div class="actions">
		<%= f.submit :class => 'submit' %>
	</div>
</div>
<% end %>
