<%= form_for(@examination) do |f| %>
<% if @examination.errors.any? %>
<div id="errorExplanation">
	<h2><%= pluralize(@examination.errors.count, "error") %> prohibited
	this post from being saved:</h2>
	<ul>
		<% @examination.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<h1>Edit examination</h1>
<%= f.hidden_field :guest_id, :value => @examination.guest_id %>
<p>
	<div class="field">
		<%= f.label :anamnezis %>
		<br />
		<%= f.text_field :anamnezis %>
	</div>
	<div class="field">
		<%= f.label :status %>
		<br />
		<%= f.text_field :status %>
	</div>
	<div class="field">
		<%= f.label :treatment %>
		<br />
		<%= f.text_field :treatment %>
	</div>
	<div class="field">
		<%= f.label :charge %>
		<br />
		<%= f.text_field :charge %>
	</div>

	<div class="actions">
		<%= f.submit :value => 'Edit examinations', :class => 'submit' %>
	</div>
	<% end %>
