<%= render 'form' %>
<hr />
<div class="form">
	<%= form_for(@picture) do |f| %>
	<h4 class="ui-corner-top">Upload picture</h4>
	<div class="content">
		<%= f.hidden_field :exam_id, :value => params[:id] %>
		<div class="field">
			<%= f.file_field :exam_image %>
			<%= f.label 'exam_image' %>
		</div>
		<div class="field">
			<%= f.text_field :caption %>
			<%= f.label :caption %>
		</div>
		<div class="actions">
			<%= f.submit :class => 'submit', :value => "Upload" %>
		</div>
	</div>
	<% end %>
</div>
<div class="widget">
	<h4 class="ui-corner-top">Images</h4>
	<div class="content">
		<%= render :partial => 'image', :collection => @examination.exam_images %>
	</div>
</div>
