<%= render 'form' %>
<%= form_for(@picture) do |f| %>
<%= f.hidden_field :exam_id, :value => params[:id] %>
<div class="field">
		<%= f.file_field :exam_image %>
		<%= f.label 'exam_image' %>
	</div>
	<div class="actions">
		<%= f.submit :class => 'submit', :value => "Upload" %>
	</div>
<% end %>
<div id="exam_pictures">
	<% @examination.exam_images.each do |image| %>
		<%= image_tag image.image.thumb.url %>
	<% end %>	
</div>
