<%= form_tag do %>
  <fieldset>
    <h1>Edit examination</h1>
    <%= hidden_field_tag :id, params[:id], :value => @examination.id %>
    <p>
      <%= text_field_tag :anamnezis, params[:anamnezis], :value => @examination.anamnezis %>
      <label for="anamnezis">Anamnezis:</label>
    </p>
	<p>
      <%= text_field_tag :status, params[:status], :value => @examination.status %>
      <label for="status" >Status:</label>
    </p>
    <p>
      <%= text_field_tag :treatment, params[:treatment], :value => @examination.treatment %>
      <label for="treatment" >Treatment:</label>
    </p>
     <p>
      <%= text_field_tag :charge, params[:charge], :value => @examination.charge %>
      <label for="charge" >Charge:</label>
    </p>
    <p>
      <%= submit_tag "Edit examination", :class => 'submit' %>
    </p>
  </fieldset>
<% end %>