<table>
	<thead>
		<th>Date</th><th>Anamnezis</th><th>Status</th><th>Treatment</th><th>Charge</th>
	</thead>
	<% @examinations.each do |examination| %>
	<tr>
		<td><%= link_to examination.updated_at, examination_path(:id => examination.id) %></td>
		<td><%= examination.anamnezis %></td>
		<td><%= examination.status %></td>
		<td><%= examination.treatment %></td>
		<td><%= examination.charge %></td>
	</tr>
	<% end %>
</table>