<%= form_tag search_examination_path do %>
<fieldset>
	<h1>Search</h1>

	<p>
		<%= text_field_tag :from_date, params[:from_date], :class => 'datepicker' %>
		<label for="anamnezis" >from</label>

		<%= text_field_tag :to_date, params[:to_date], :class => 'datepicker' %>
		<label for="status" >to</label>
	</p>
	<p>
		<%= submit_tag "Search", :class => 'submit' %>
	</p>
</fieldset>
<% end %>
<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Anamnezis</th>
			<th>Status</th>
			<th>Treatment</th>
			<th>Charge</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<% @examinations.each do |examination| %>
	<tr>
		<td><%= link_to examination.updated_at, examination_path(:id => examination.id) %></td>
		<td><%= examination.anamnezis %></td>
		<td><%= examination.status %></td>
		<td><%= examination.treatment %></td>
		<td><%= examination.charge %></td>
		<td><%= link_to 'Edit', edit_examination_path(:id => examination.id), :class => 'ui-icon ui-icon-pencil' %></td>
		<td><%= link_to 'Delete', examination_path(:id => examination.id), :method => 'delete', :confirm => 'Are you sure?', :class => 'ui-icon ui-icon-trash' %></td>
	</tr>
	<% end %>
</table>