<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Anamnezis</th>
			<th>Status</th>
			<th>Treatment</th>
			<th>Charge</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<% @examinations.each do |examination| %>
	<tr>
		<td><%= link_to examination.updated_at, examination_path(:id => examination.id) %></td>
		<td><%= examination.anamnezis %></td>
		<td><%= examination.status %></td>
		<td><%= examination.treatment %></td>
		<td><%= examination.charge %></td>
		<td><%= link_to 'Edit', edit_examination_path(:id => examination.id) %></td>
		<td><%= link_to 'Delete', delete_examination_path(:id => examination.id), :method => 'delete' %></td>
	</tr>
	<% end %>
</table>