<%= form_tag search_exam_path do %>
<fieldset>
	<h1><%= t('.search') %></h1>
	<p>
		<%= text_field_tag :from_date, params[:from_date], :class => 'datepicker' %>
		<label for="from_date" ><%= t('.from_date') %></label>

		<%= text_field_tag :to_date, params[:to_date], :class => 'datepicker' %>
		<label for="to_date" ><%= t('.to_date') %></label>
	</p>
	<p>
		<%= submit_tag "Search", :class => 'submit' %>
	</p>
</fieldset>
<% end %>

<table width="100%">
	<thead>
		<tr>
			<th><%= t('.datum') %></th>
			<th><%= t('.anamnezis') %></th>
			<th><%= t('.status') %></th>
			<th><%= t('.treatment') %></th>
			<th><%= t('.charge') %></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<% @examinations.each do |examination| %>
	<tr>
		<td><%= link_to examination.updated_at, examination_path(:id => examination.id) %></td>
		<td><%= truncate(examination.anamnezis, :lentgh => 20) %></td>
		<td><%= truncate(examination.status, :length => 20) %></td>
		<td><%= truncate(examination.treatment, :length => 20) %></td>
		<td><%= examination.charge %></td>
		<td><%= link_to 'Edit', edit_examination_path(:id => examination.id), :class => 'ui-icon ui-icon-pencil' %></td>
		<td><%= link_to 'Delete', examination_path(:id => examination.id), :method => 'delete', :confirm => t('.are_you_sure'), :class => 'ui-icon ui-icon-trash' %></td>
	</tr>
	<% end %>

</table>
<%= will_paginate @examinations %>
