<%= render 'exam_search/search_form' %>

<div class="form">
	<h4 class="ui-corner-top">Examinations</h4>
	<div class="content">
		<table width="100%">
			<thead>
				<tr>
					<th><%= t('examinations.date') %></th>
					<th><%= t('examinations..anamnezis') %></th>
					<th><%= t('examinations.status') %></th>
					<th><%= t('examinations..treatment') %></th>
					<th><%= t('examinations..charge') %></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<%= render :partial => 'examination', :collection => @examinations %>

		</table>
	</div>
	<%= will_paginate @examinations %>
</div>
