<%= render 'exam_search/search_form' %>

<div class="form">
	<h4 class="ui-corner-top">Examinations</h4>
	<div class="content">
		<table width="100%">
			<thead>
				<tr>
					<th><%= t('examinations.date') %></th>
					<th><%= t('examinations..anamnezis') %></th>
					<th><%= t('examinations.status') %></th>
					<th><%= t('examinations..treatment') %></th>
					<th><%= t('examinations..charge') %></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<% @examinations.each do |examination| %>
			<tr>
				<td><%= link_to examination.updated_at, examination_path(:id => examination.id) %></td>
				<td><%= truncate(examination.anamnezis, :lentgh => 20) %></td>
				<td><%= truncate(examination.status, :length => 20) %></td>
				<td><%= truncate(examination.treatment, :length => 20) %></td>
				<td><%= examination.charge %> Ft</td>
				<td><%= link_to 'Edit', edit_examination_path(:id => examination.id), :class => 'ui-icon ui-icon-pencil' %></td>
				<td><%= link_to 'Delete', examination_path(:id => examination.id), :method => 'delete', :confirm => t('are_you_sure'), :class => 'ui-icon ui-icon-trash' %></td>
			</tr>
			<% end %>

		</table>
	</div>
	<%= will_paginate @examinations %>
</div>
