<%= form_tag do %>
  <fieldset>
    <h1>Add new examination</h1>
    <%= hidden_field_tag :guest_id, @guest_id %>
    <div>
      <label for="anamnezis" >Anamnezis:</label>
      <%= text_field_tag :anamnezis, params[:anamnezis] %>
    </div>
	<div>
      <label for="status" >Status:</label>
      <%= text_field_tag :status, params[:status] %>
    </div>
    <div>
      <label for="treatment" >Treatment:</label>
      <%= text_field_tag :treatment, params[:treatment] %>
    </div>
     <div>
      <label for="charge" >Charge:</label>
      <%= text_field_tag :charge, params[:charge] %>
    </div>
    <div>
      <%= submit_tag "Add examination" %>
    </div>
  </fieldset>
<% end %>