<% unless (params[:guest_id]) %>

<%= link_to 'Select guest', guests_path(:mode => 'select', :from => newexamination_path) %>
<% end %>
<%= form_tag do %>
  <fieldset>
    <h1>Add new examination</h1>
    <%= hidden_field_tag :guest_id, @guest_id %>
    <p>
      <%= text_field_tag :anamnezis, params[:anamnezis] %>
      <label for="anamnezis" >Anamnezis:</label>
    </p>
	<p>
      <%= text_field_tag :status, params[:status] %>
      <label for="status" >Status:</label>
    </p>
    <p>
      <%= text_field_tag :treatment, params[:treatment] %>
      <label for="treatment" >Treatment:</label>
    </p>
     <p>
      <%= text_field_tag :charge, params[:charge] %>
      <label for="charge" >Charge:</label>
    </p>
    <p>
      <%= submit_tag "Add examination", :class => 'submit' %>
    </p>
  </fieldset>
<% end %>