<h1><%= link_to @examination.guest.name, guest_path(:id => @examination.guest.id) %></h1>
<div>
	<span>Last modified:</span>
	<span><%= @examination.updated_at %></span>
</div>
<div>
	<span>Created at: </span><span><%= @examination.created_at %></span>
</div>
<div>
	<span>Birth:</span>
	<span><%= @examination.anamnezis %></span>
</div>
<div>
	<span >Status:</span>
	<span><%= @examination.status %></span>
</div>
<div>
	<span >Treatment:</span>
	<span><%= @examination.treatment %></span>
</div>
<div>
	<span> Charge:</span>
	<span><%= @examination.charge %></span>
</div>

<%= link_to 'Delete examination', delete_examination_path(:id => @examination.id), :method => 'delete', :class => 'ui-icon ui-icon-trash' %>
<%= link_to 'Edit', edit_examination_path(:id => @examination.id), :class => 'ui-icon ui-icon-pencil' %>

