<div class="widget ui-corner-top">

	<h4><%= link_to @examination.guest.name, guest_path(:id => @examination.guest.id) %></h4>
	<div class="content ui-corner-top">
		<div>
			<span><%= t(".last_modified") %></span>
			<span><%= @examination.updated_at %></span>
		</div>
		<div>
			<span><%= t(".created_at") %></span><span><%= @examination.created_at %></span>
		</div>
		<div>
			<span><%= t(".anamnezis") %></span>
			<span><%= @examination.anamnezis %></span>
		</div>
		<div>
			<span><%= t(".status") %></span>
			<span><%= @examination.status %></span>
		</div>
		<div>
			<span><%= t(".treatment") %></span>
			<span><%= @examination.treatment %></span>
		</div>
		<div>
			<span><%= t(".charge") %></span>
			<span><%= @examination.charge %></span>
		</div>

		<%= link_to 'Delete examination', examination_path(:id => @examination.id), :method => 'delete', :confirm => t("are_you_sure"), :class => 'ui-icon ui-icon-trash' %> <%= link_to 'Edit', edit_examination_path(:id => @examination.id), :class => 'ui-icon ui-icon-pencil' %>
	</div>
</div>

<% @examination.comments.each do |comment| %>
<div class="comment ui-corner-top">
	<div class="content">
		<%= comment.content %>
	</div>
</div>
<% end %>

<%= form_for(@comment) do |f| %>
<div class="widget ui-corner-top">
	<div class="content">
		<%= f.hidden_field :commentable_id, :value => @examination.id %>
		<%= f.hidden_field :commentable_type, :value => 'Examination' %>
		<div class="field">
			<%= f.text_field :content %>
			<%= f.label 'Comment' %>
		</div>
	</div>
	<div class="actions">
		<%= f.submit :class => 'submit' %>
	</div>
</div>
<% end %>
