<%= render 'search_form' %>

<div class="form">
	<h4 class="ui-corner-top">Results</h4>
	<div class="content">
		<table id="guests" width="100%">
			<thead>
				<th><%= t('.name') %></th>
				<th><%= t('.mother') %></th>
				<th><%= t('.birth') %></th>
				<th><%= t('.city') %></th>
				<th></th>
				<th></th>
			</thead>

			<%= render :partial => 'guests/guest', :collection => @guests %>
		</table>

	</div>
</div>
