<!DOCTYPE html>
<html>
	<head>
		<title>Panka</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div id="title">
					<h1>Panka</h1>
					<p>
						<%= t('.title') %>
					</p>
				</div>
				<div id="menu">
					<% unless session[:user] %>
					<%= link_to t('.registration'), new_user_path %>
					<%= link_to t('.login'), login_path %>
					<% else %>
					<% @user = User.find(session[:user]) %>
					<span class="bold_grey">Hello, <%= @user.username %></span> |
					<%= link_to t('.my_account'), edit_user_path(:id => session[:user]) %> |
					<%= link_to t('.log_out'), logout_path, :method => 'delete' %>
					<div class="last_login">
						2011-12-12 12:12:12
					</div>
					<% end %>
				</div>
			</div>

			<% if session[:user] %>
			<div id="header_menu">
				<ul>
					<li class="first">
						<%= link_to 'Home', main_index_path %>
					</li>
					<li>
						<%= link_to t('.add_guest'), new_guest_path %>
					</li>
					<li>
						<%= link_to t('.guests'), guests_path %>
					</li>
					<li>
						<%= link_to t('.examinations'), examinations_path %>
					</li>

				</ul>

				<div id="nav_search">
					<%= form_tag find_guest_path do %>
					<%= text_field_tag :search_field, params[:search_field], :placeholder => 'name' %>
					<%= submit_tag 'Search' %>
					<% end %>
				</div>
			</div>
			<% end %>

			<div id="main">
				<%= render 'message/message_line' %>
				<%= yield %>
				<div id="back">
					<%= link_to t('.back'), :back %>
				</div>
			</div>

			<div id="footer">
				<p>
					Panka, <%= t('.title') %>
					<br>
					2013, All rights reserved.
				</p>
			</div>
		</div>
	</body>
</html>
