<!DOCTYPE html>
<html>
	<head>
		<title>Panka</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<%= render 'main/header_menu' %>
			</div>

			<% if @user %>
			<%= render 'main/navigation_menu' %>
			<% end %>

			<div id="main">
				<%= render 'message/message_line' %>
				<%= yield %>
				<div id="back">
					<% if logged_in %>
					<%= link_to t('.back'), :back %>
					<% end %>
				</div>
			</div>

			<div id="footer">
				<p>
					Panka, <%= t('.title') %>
					<br>
					2013, All rights reserved.
				</p>
			</div>
		</div>
	</body>
</html>
