<!DOCTYPE html>
<html>
	<head>
		<title>Panka</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="container" class="container_12 ui-corner-top">
			<div id="header" class="grid_12">
				<h1>Panka</h1>
				<p>
					<%= t('.title') %>
				</p>
				<div id="menu">
					<% unless session[:user] %>
					<%= link_to t('.registration'), new_user_path %>
					<%= link_to t('.login'), login_path %>
					<% else %>
					<%= link_to t('.my_account'), edit_user_path(:id => session[:user]) %>
					<%= link_to t('.log_out'), logout_path, :method => 'delete' %>
					<% end %>
				</div>
			</div>
			<div id="leftmenu" class="grid_2">
				<% if session[:user] %>
				<div class="widget">
					<h4 class="ui-corner-top">Menu</h4>
					<div class="content_nopadding">
						<ul id="menu">

							<li>
								<%= link_to t('.add_guest'), new_guest_path %>
							</li>
							<li>
								<%= link_to t('.guests'), guests_path %>
							</li>
							<li>
								<%= link_to t('.examinations'), examinations_path %>
							</li>

						</ul>
					</div>
				</div>
				<% end %>
			</div>
			<div id="main" class="grid_10">
				<%= render 'message/message_line' %>
				<%= yield %>
				<div id="back">
					<%= link_to t('.back'), :back %>
				</div>
			</div>
			<div id="footer" class="grid_12">
				<p>
					Panka, <%= t('.title') %>
					<br>
					2013, All rights reserved.
				</p>
			</div>
		</div>
	</body>
</html>
