<!DOCTYPE html>
<html>
	<head>
		<title>Panka</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag 'jquery-1.9.1.js', 'jquery-ui-1.10.2.custom.js', 'application' %>
		<%= csrf_meta_tags %>
		<script language="javascript">
			$(function() {
				$(".submit").button();
				$(".datepicker").datepicker({
					dateFormat : 'yy-mm-dd'
				});
			
			});
		</script>
	</head>
	<body>
		<div id="container" class="container_12">
			<div id="header" class="grid_12">
				header
			</div>
			<div id="leftmenu" class="grid_2">
				<ul id="menu">

					<% unless session[:user] %>
					<li>
						<%= link_to t('.registration'), new_user_path %>
					</li>
					<li>
						<%= link_to t('.login'), login_path %>
					</li>
					<% else %>
					<li>
						<%= link_to t('.log_out'), logout_path, :method => 'delete' %>
					</li>
					<li>
						<%= link_to t('.add_guest'), new_guest_path %>
					</li>
					<li>
						<%= link_to t('.guests'), guests_path %>
					</li>
					<li>
						<%= link_to t('.examinations'), examinations_path %>
					</li>
					<% end %>
				</ul>
			</div>
			<div id="main" class="grid_10">
				<%= yield %>
			</div>
			<div id="footer" class="grid_12">
				akarmi
			</div>
		</div>
	</body>
</html>
